*{
    margin: 0;
    padding: 0px;
}
.left-container{
    width: 200px;
    margin: 0 auto;
    float: left;
}
.menu{
    background-color: #273135;
    width: 200px;
    height: 100%;
    color: white;
    font-family: "Open Sans";
    z-index: 1;
    position: fixed;
}
.menu h2{
    line-height: 70px;
    overflow: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.menu-bar{
    float: left;
}
.menu-bar ul{
    font-size: 12px;
    opacity: .3;
    line-height: 50px;
    padding-left: 15px;
}
.title-icon{
    font-size: 30px;
    float: left;
    margin-left: 20px;
}
.title{
    position: relative;
    margin-left: 60px;
    font-size: 30px;
    margin-top: 10px;
}
.mini-content{
    font-size: 12px;
    line-height: 40px;
    word-spacing: 50px;
}
.mini-content li{
    width: 100%;
    padding-right: 10px;
    padding-left: 15px;
}
.icons{
    float: left;
}
.mini-content p{
    margin-left: 20px;
}
.header-content{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E0E0E0;
}
.right-container{
    width: 1000px;
    height: 100%;
}
.drop-box{
    margin-top: 20px;
    width: 1050px;
    height: 50px;
    border: 2px solid #007EE5;
    padding: 15px;
    color: #007EE5;
    margin-left: 200px;
}
.main-content{
    margin: 0 auto;
    float: left;
}
.icon-drop-box{
    margin-right: 5px;
    float: left;
}
.drop-box-content{
    opacity: .5px;
    font-size: 12px;
}
.clock{
    position: relative;
    left: 1200px;
    color: #007EE5;
    overflow: hidden;
    float: left;
    top: 15px;

}
.right-container img{
    position: relative;
    top: 10px;
    left: 1000px;
    width: 30px;
    height: 30px;
    float: left;
    overflow: hidden;
}
.card{
    margin-top: 10px;
    float: left;
    height: 50px;
    padding: 20px;
    margin-right: 15px;
    color: white;
}
.card-title h4{
    font-weight: 400px;
    font-size: 14px;
    line-height: 20px;
}
.card-content{
    margin-top: 2px;
    font-size: 20px;
}
.card.card-4{
    width: 220px;
}
.card:first-child{
    margin-left: 200px;
    background-color: #16A085;
}
.card:nth-child(2){
    background-color: #C0392B;
}
.card:nth-child(3){
    background-color: #F39C12;
}
.card:last-child{
    margin-right: 0px;
    background-color: #379ADC;
}
.card-icon{
    position: relative;
    top: 10px;
    float: right;
    font-size: 20px;
}
.mini-content li:hover{
    background-color: black;
}
.main-content{
    margin-left: 15px;
}
.content-margin{
    margin-left: 15px;
    width: 1400px;
}