*{
    margin: 0;
    padding: 0px;
}
.left-container{
    width: 200px;
    margin: 0 auto;
}
.menu{
    padding: 30px;
    background-color: #273135;
    width: 260px;
    color: white;
    height: 1000px;
}
.menu h2{
    line-height: 70px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.menu li{
    font-size: 16px;
    line-height: 30px;
}
.menu ul{
    font-size: 13px;
    opacity: .5;
    line-height: 50px;
}
