*{
    margin: 0;
    padding: 0px;
}
.left-container{
    width: 200px;
    margin: 0 auto;
    float: left;
}
.menu{
    background-color: #273135;
    width: 200px;
    height: 100%;
    color: white;
    font-family: "Open Sans";
    z-index: 1;
    position: fixed;
}
.menu h2{
    line-height: 70px;
    overflow: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.mini-content a{
    color: white;
}
.drop-box a{
    color: #007EE5;
}
.menu-bar{
    float: left;
}
.menu-bar ul{
    font-size: 12px;
    opacity: .3;
    line-height: 50px;
    padding-left: 15px;
}
.title-icon{
    font-size: 30px;
    float: left;
    margin-left: 20px;
}
.title{
    position: relative;
    margin-left: 60px;
    font-size: 30px;
    margin-top: 10px;
}
.mini-content{
    font-size: 14px;
    line-height: 40px;
    word-spacing: 50px;
}
.mini-content li{
    width: 175px;
    padding-right: 10px;
    padding-left: 15px;
}
.icons{
    float: left;
}
.mini-content p{
    margin-left: 20px;
}
.header-content{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E0E0E0;
}
.right-container{
    width: 1000px;
}
.drop-box{
    font-family: "Open Sans";
    margin-top: 20px;
    width: 1050px;
    height: 50px;
    border: 2px solid #007EE5;
    padding: 15px;
    color: #007EE5;
    margin-left: 200px;
}
.main-content{
    margin: 0 auto;
    float: left;
}
.icon-drop-box{
    margin-right: 5px;
    float: left;
}
.drop-box-content{
    opacity: .5px;
    margin-top: 5px;
    font-size: 14px;
}
.clock{
    position: relative;
    left: 1210px;
    color: #007EE5;
    overflow: hidden;
    float: left;
    top: 15px;

}
.right-container img{
    position: relative;
    top: 10px;
    left: 1270px;
    width: 30px;
    height: 30px;
    float: left;
    overflow: hidden;
}
.card{
    margin-top: 10px;
    float: left;
    height: 50px;
    padding: 20px;
    margin-right: 15px;
    color: white;
    margin-bottom: 20px;
    font-family: "Open Sans";
}
.card-title h4{
    font-weight: 400px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
}
.card-content{
    margin-top: 2px;
    font-size: 20px;
}
.card.card-4{
    width: 220px;
}
.card:first-child{
    margin-left: 200px;
    background-color: #16A085;
}
.card:nth-child(2){
    background-color: #C0392B;
}
.card:nth-child(3){
    background-color: #F39C12;
}
.card:last-child{
    margin-right: 0px;
    background-color: #379ADC;
}
.card-icon{
    position: relative;
    top: 10px;
    float: right;
    font-size: 20px;
}
.mini-content li:hover{
    background-color: black;
}
.main-content{
    margin-left: 15px;
    margin-bottom: 20px;
}
.content-margin{
    margin-left: 15px;
    width: 1400px;
    margin-bottom: 20px;
}
.content-table{
    margin-left: 15px;
    width: 1085px;
}
.table-servers{
    margin-left: 200px;
    border: 1px solid #D0D0D0;
    border-collapse: collapse;
    font-family: "Open Sans";
    color: #686868;
    font-size: 14px;
}
.table-servers td{
    border-bottom: 1px solid #D0D0D0;
    border-top: 1px solid #D0D0D0;
}
.table-servers td, .table-servers th{
    padding: 5px;
}
.table-servers span{
    color: #379ADC;
}
.table-servers th{
    text-align: left;
    line-height: 10px;
    font-family: "Open Sans";
}
.server{
    font-size: 13px;
}
.table-title{
    font-size: 13px;
    font-family: "Roboto";
}
.server-name{
    font-size: 16px;
    line-height: 10px;
}
.button-1{
    text-align: center;
    padding: 2px;
    width: 20px;
    height: 20px;
    border: 1px solid #379ADC;
    margin-left: 450px;
    font-size: 13px;
    color: #379ADC;
    float: left;
}
.button-2{
    text-align: center;
    padding: 2px;
    width: 20px;
    height: 20px;
    border: 1px solid #379ADC;
    margin-left: 10px;
    font-size: 13px;
    color: #379ADC;
    float: left;
}
.button-3{
    text-align: center;
    padding: 2px;
    width: 20px;
    height: 20px;
    border: 1px solid #379ADC;
    margin-left: 10px;
    font-size: 13px;
    color: #379ADC;
    float: left;
}
.button-4{
    text-align: center;
    padding: 2px;
    width: 20px;
    height: 20px;
    border: 1px solid #379ADC;
    margin-left: 10px;
    font-size: 13px;
    color: #379ADC;
    float: left;
}
.button-5{
    text-align: center;
    padding: 2px;
    width: 20px;
    height: 20px;
    border: 1px solid #379ADC;
    margin-left: 10px;
    font-size: 13px;
    color: #379ADC;
    float: left;
}
.button-1:hover, .button-2:hover, .button-3:hover, .button-4:hover, .button-4:hover, .button-5:hover{
    background-color: #379ADC;
    color: white;
}
.table-servers td:last-child{
    padding: 6px;
}
.finished{
    color: #54C98E;
}
.error{
    color: #C0392B;
}
.second-content{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E0E0E0;
}
.database-content{
    padding: 10px;
    height: 25px;
    border-bottom: 1px solid #E0E0E0;
}
.data-icon{
    float: left;
    color: black;
}
.database-content p{
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    color: black;
}
.database-content li{
    margin-left: 50px;
}
.nav-top{
    margin-left: 500px;
}
.alert-content{
    padding: 15px;
    height: 370px;
    border-bottom: 1px solid #E0E0E0;
}
.save-cancel{
    padding: 10px;
    font-family: "Open Sans";
    font-size: 12px;
    margin-bottom: 10px;
}
.save-cancel-content{
    margin-left: 205px;
    float: left;
    width: 1000px;
}
.save-cancel-title{
    float: left;
    width: 500px;
}
.save{
    position: relative;
    width: 45px;
    font-size: 18px;
    padding-left: 5px;
    float: right;
    left: 83px;
    background-color: #379ADC;
    border-radius: 2px;
    color: white;
    height: 30px;
}
.cancel{
    position: relative;
    width: 60px;
    font-size: 16px;
    padding: 2px;
    float: right;
    left: 86px;
    top: 3px;
    font-family: "Open Sans";
    border-radius: 2px;
    color: #379ADC;
}
.scroll-box{
    font-family: "Open Sans";
    width: 1050px;
    border: 2px solid #007EE5;
    padding: 15px;
    color: #007EE5;
    margin-left: 200px;
    margin-bottom: 20px;
}
p.scroll-box-text{
    font-weight: bold;
}
.scroll-content{
    opacity: .5px;
    font-size: 14px;
}
.foo-bar{
    margin-left: 200px;
    float: left;
}
.foo-bar-content-left{
    width: 300px;
    float: left;
}
.foo-bar-content-left p{
    font-size: 12px;
}
.foo-bar-content-left h2{
    font-family: "Open Sans";
    font-size: 20px;
}
.foo-bar-content-right{
    width: 300px;
    float: right;
    margin-left: 100px;
    margin-bottom: 10px;
    font-family: "Open Sans";
    font-size: 14px;
}
.foo-bar-content-right p{
    margin-bottom: 5px;
}
.foo-bar-content-right li{
    margin-bottom: 10px;
}
.foo-bar-content-right .host input[type=text]{
    padding: 5px;
    height: 18px;
    width: 485px;
}
.foo-bar-content-right .username input[type="text"]{
    width: 220px;
    height: 15px;
    padding: 5px;
}
.foo-bar-content-right .password input[type="text"]{
    width: 230px;
    height: 15px;
    padding: 5px;
}
.username, .password{
    float: left;
    width: 250px;
}
.password{
    float: right;
    margin-left: 100px;
    position: relative;
    left: 205px;
    bottom: 53px;
}
.dropdwn select{
    background: transparent;
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    width: 500px;
}
.connect-status{
    padding: 10px;
    padding-top: 15px;
    border: 1px solid red;
    font-size: 10px;
    color: red;
    width: 477px;
    font-family: "Roboto Slab";
}
.server-instances{
    width: 100%;
    float: left;
    border-bottom: 1px solid #E0E0E0;
}
.server-instances-left{
    width: 140px;
    margin-left: 215px;
    float: left;
}
.server-instances-left .data-icon{
    margin-right: 10px;
}
.server-instances-right{
    float: left;
    margin-bottom: 10px;
    font-family: "Open Sans";
    font-size: 14px;
    margin-left: 255px;
}
.server-intances-right p{
    font-family: "Roboto";
}
.specs tr:first-child{
    padding: 5px;
    border-bottom: 1px solid #E0E0E0;
}
.specs-title{
    font-family: "Roboto Slab";
    font-size: 12px;
    color: #606060;
}
.server-instances-right table{
    border-collapse: collapse;
}
.specs td{
    padding-left: 50px;
    color: #383838;
}
.destroy-option{
    float: left;
}
.destroy-option-left{
    margin-top: 20px;
    width: 200px;
    margin-left: 215px;
    float: left;
}
.destroy-option-right{
    margin-top: 20px;
    float: left;
    margin-bottom: 10px;
    font-family: "Open Sans";
    font-size: 14px;
    margin-left: 200px;
}
.destroy-button{
    border: 1px solid red;
    padding: 5px;
    color: red;
    width: 125px;
    font-size: 12px;
}
.destroy-button:hover{
    background-color: red;
    color: white;
}